<!DOCTYPE html>
html(lang='en')
head
  meta(charset='utf-8')
  title= title
  link(href='/assets/css/main.css' rel='stylesheet')
body
  h1= errorCode
  p test
  img(alt=alt src=src style="max-width: 600px")
