<!DOCTYPE html>
html(lang='en')
head
  meta(charset='utf-8')
  title= title
  link(href='/assets/css/main.css' rel='stylesheet')
body(style=`background-image: url(${src}); background-size: cover;`)#error_page
  h1= errorCode + " - " + title
