<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width")
    style(type='text/css').
      .hero {
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        margin: 0;
      }

  body
    div(style="position: relative; height: 350px")
      .hero(style='background-image: url(' + img + ')')
